* {
    box-sizing: border-box;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

a {text-decoration: none;}

body {
    background-color: #F8F9FB;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.container {
    margin-inline: auto;
    padding-inline: 16px;
    max-width: 1280px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 16px;
}

.header-outer {
    border-bottom: 1px solid black;
}

.main {
    width: 100%;
    background: url("../img/bg2.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

}
.mainYazi {
    padding:100% 16px 16px 16px;
}
.mainHeader {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    & > p {
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        color: #437EF7;
    }
    
}
.baslik {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    margin-bottom: 16px; 
}
.desktopBaslik, .desctopDesc {
    display: none;
}

.desc {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #5F6D7E;
    margin-bottom: 32px;
}
.btns {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    border-radius: 6px;
    text-align: center;
}
.getStarted, .contact{ 
    height: 46px;
    padding: 12px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
}
.getStarted {
    background: #437EF7;
    color: #fff;
}
.contact {
    color: #437EF7;
    display: flex;
    justify-content: center;
    gap: 6px;
}

.btn {
    display: inline-block;
    background-color: #437EF7;
    color: #fff;
    padding: 12px 18px;
    border-radius: 6px;
    font-weight: 600;
}

.btn-ghost {
    background-color: transparent;
    color: #437EF7;
}


.nav, .nav-btns {display: none;}

.K300div {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px 16px;
}
.sayi {
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    color: #272D37;
    margin-bottom:8px;
}
.sayiAciklama{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #5F6D7E;
}

/* tablet */
@media (width >= 768px) {

    .main {
        width: 100%;
        background: url("../img/bgTablet2.png");
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
    
    }
    .mainYazi {
        padding:650px 0px 0px 0px;
    }
    .deneme {
        background-color: #F8F9FB;
        z-index: 1;
        padding: 48px;
    }
    .mainHeader {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        & > p {
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            color: #437EF7;
        }
        
    }
    .baslik {
        font-size: 52px;
        font-weight: 700;
        line-height: 60px;
        margin-bottom: 16px; 
    }
    .desc {
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        color: #5F6D7E;
        margin-bottom: 32px;
    }
    .btns {
        display: grid;
        grid-template-columns: repeat(2, 145px);
        gap: 16px;
        width: 100%;
        border-radius: 6px;
        text-align: center;
    }
    .getStarted, .contact{ 
        height: 46px;
        padding: 12px;
        border-radius: 6px;
        font-size: 15px;
        font-weight: 600;
        line-height: 22px;
    }
    .getStarted {
        background: #437EF7;
        color: #fff;
    }
    .contact {
        color: #437EF7;
        display: flex;
        justify-content: center;
        gap: 6px;
    }
    .K300div {
        background-color: #fff;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
        padding: 40px 32px;
    }
    .sayi {
        font-size: 44px;
        font-weight: 600;
        line-height: 36px;
        color: #272D37;
        margin-bottom: 12px;
    }
    .sayiAciklama{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #5F6D7E;
    }

}

/* desktop */
@media (width >= 1280px) {
    .header {
        padding: 23px 32px;
        gap: 64px;
    }

    .hamburger-menu {
        display: none;
    }

    .nav-btns {
        display: flex;
        gap: 10px;
    }

    .nav {
        list-style: none;
        padding: 0;
        display: flex;
        font-size: 15px;
        line-height: 22px;
        font-weight: 600;
        gap: 32px;
        margin-right: auto;

        a {
            color: #272D37;
        }
    }
    .main {
        width: 100%;
        background: url("../img/bg.png");
        background-repeat: no-repeat;
        background-position: right top;
    
    }
    .mainYazi {
        width: 624px;
        padding-top: 134px;
        margin-left: 0px;
        padding-bottom: 80px;
    }
    .deneme {
        background-color: transparent;
        padding: 16px;
    }
    .mainHeader {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        & > p {
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            color: #437EF7;
        }
        
    }
    .desktopBaslik{
        display: block;
        font-size: 52px;
        font-weight: 700;
        line-height: 60px;
        margin-bottom: 16px; 
    }
    .baslik, .desc {
        display: none;
    }
    .desctopDesc {
        display: block;
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        color: #5F6D7E;
        margin-bottom: 32px;
    }
    .btns {
        display: grid;
        grid-template-columns: repeat(2, 145px);
        gap: 16px;
        width: 100%;
        border-radius: 6px;
        text-align: center;
    }
    .getStarted, .contact{ 
        height: 46px;
        padding: 12px;
        border-radius: 6px;
        font-size: 15px;
        font-weight: 600;
        line-height: 22px;
    }
    .getStarted {
        background: #437EF7;
        color: #fff;
    }
    .contact {
        color: #437EF7;
        display: flex;
        justify-content: center;
        gap: 6px;
    }
    .K300div {
        background-color: #fff;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 48px;
        padding: 64px 16px;
    }
    .sayi {
        font-size: 44px;
        font-weight: 600;
        line-height: 36px;
        color: #272D37;
        margin-bottom: 12px;
    }
    .sayiAciklama{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #5F6D7E;
    }

}




